@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-xxs: .8rem;
  --text-xs: 1rem;
  --text-sm: 1.25rem;
  --text-md: 2rem;
  --text-lg: 2.5rem;
  --text-xl: 3rem;
  --text-2xl: 3.5rem;
  --text-3xl: 6rem;
  --color-gray_l: #f9f9f9;
  --color-gray_m: #3f4c59;
}

@layer utilities{
 
  .drop-shadow {
    filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.8));
  }
  .palabra {
    @apply  opacity-0 whitespace-nowrap;
    animation: aparecer 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  .shapedividers_com-3590{
    overflow:hidden;
    position:relative;
    }
    .shapedividers_com-3590::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 50px;
    background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 66"><g fill="%23ffffff"><circle cx="133.2" cy="37.9" r="6" transform="rotate(-23 133 38)"/><circle cx="298.1" cy="37.9" r="6" transform="rotate(-23 298 38)"/><circle cx="168.4" cy="48.4" r="7.7"/><circle cx="242.8" cy="46" r="5.3" transform="rotate(-45 243 46)"/><circle cx="89" cy="42.8" r="5.3"/><circle cx="457.2" cy="37.9" r="6" transform="rotate(-23 457 38)"/><circle cx="622.1" cy="37.9" r="6" transform="rotate(-23 622 38)"/><circle cx="492.4" cy="48.4" r="7.7"/><circle cx="566.8" cy="46" r="5.3" transform="rotate(-45 567 46)"/><circle cx="413" cy="42.8" r="5.3"/><circle cx="781.2" cy="37.9" r="6" transform="rotate(-23 781 38)"/><circle cx="946.1" cy="37.9" r="6" transform="rotate(-23 946 38)"/><circle cx="816.4" cy="48.4" r="7.7"/><circle cx="890.8" cy="46" r="5.3" transform="rotate(-45 891 46)"/><circle cx="737" cy="42.8" r="5.3"/><path d="M1111 38a6 6 0 11-6-6 6 6 0 016 6z"/><circle cx="1270.1" cy="37.9" r="6" transform="rotate(-23 1270 38)"/><circle cx="1140.4" cy="48.4" r="7.7"/><circle cx="1214.8" cy="46" r="5.3"/><circle cx="1061" cy="42.8" r="5.3"/><path d="M1435 38a6 6 0 11-6-6 6 6 0 016 6z"/><circle cx="1594.1" cy="37.9" r="6" transform="rotate(-23 1594 38)"/><circle cx="1464.4" cy="48.4" r="7.7"/><circle cx="1538.8" cy="46" r="5.3"/><circle cx="1385" cy="42.8" r="5.3"/><path d="M1759 38a6 6 0 11-6-6 6 6 0 016 6z"/><circle cx="1918.1" cy="37.9" r="6" transform="rotate(-23 1918 38)"/><circle cx="1788.4" cy="48.4" r="7.7"/><circle cx="1862.8" cy="46" r="5.3"/><circle cx="1709" cy="42.8" r="5.3"/><path d="M1959 14h8c0 11 17 10 33 10v-4c-7-1-14-1-14-6h14V0H0v12c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h7c0 45 67 16 107 28-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 001 3 17 17 0 0013 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h-1 10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h7c0 45 67 16 107 28-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 001 3 17 17 0 0013 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h-1 10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h7c0 45 67 16 107 28-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 001 3 17 17 0 0013 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h-1 10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25h7c0 44 67 15 107 27-24-20-92 3-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 002 4 17 17 0 0012 10c10 2 20-4 30-6a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 15s-6 9-11 9-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25l-1-1h10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25h7c0 44 67 15 107 27-24-20-92 3-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 002 4 17 17 0 0012 10c10 2 20-4 30-6a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 15s-6 9-11 9-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25l-1-1h10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25h7c0 44 67 15 107 27-24-20-92 3-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 002 4 17 17 0 0012 10c10 2 20-4 30-6a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 15s-6 9-11 9-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25l-1-1h10v2c1 27 27 26 56 24v-8c-21 0-41 0-41-14zM110 15c-14 1-35 11-35-2 12 3 30-5 35 2zm167 0c-15 1-36 11-36-2 13 3 31-5 36 2zm159 0c-14 1-35 11-35-2 12 3 30-5 35 2zm165 0c-14 1-36 11-36-2 13 3 31-5 36 2zm158 0c-15 1-36 11-36-2 12 3 30-5 36 2zm165 0c-14 1-35 11-35-2 12 3 30-5 35 2zm160 0c-14 1-35 11-35-2 12 3 30-5 35 2zm163 0c-15 1-36 11-36-2 13 3 31-5 36 2zm160 0c-15 1-36 11-36-2 12 3 30-5 36 2zm165 0c-15 1-36 11-36-2 13 3 31-5 36 2zm326 0c-14 1-35 11-35-2 12 3 30-5 35 2z"/></g></svg>'); 
    }
    
    @media (min-width:2100px){
    .shapedividers_com-3590::before{
    background-size: 100% calc(2vw + 50px);
    }
    }
     
   
     
     
}
.font-tangerine {
  font-family: var(--font-tangerine), sans-serif;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



